{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PoGo PVP Stats</title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!--Favicon-->
  <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}"> -->
  
</head>

<body class="dark-theme">

  <!--Display messages from built-in Django message module-->
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <h4 class="{{ message.tags }}">{{ message }}</h4>
    {% endfor %}
  </div>
  {% endif %}

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

<br/>

  <footer class="container-fluid text-center">
    <p>Made by Judy Kim</p>
  </footer>

  <script src="{% static 'app.js' %}"></script>
  <script src="{% static 'autocomplete.js' %}"></script>
</body>

</html>