{% extends 'base.html' %}
{% block content %}
<div>
  <h2>welcome</h2>
  <p>
    <form action="{% url 'home' %}">
      <button type="submit" class="reset">Reset</button>
    </form>
  </p>
  <div>
    <form method="POST" action="{% url 'analyze' %}">
      {% csrf_token %}

      <label for="pokemon">Pokemon</label>
      <input type="text" id="pokemon" name="pokemon" autofocus required value="{{ pokemon }}">
      
      <div class="IVInputsContainer">
        {% if pokemon %}
        {% for stats in stats_array %}
        <div class="IVs">
          <label for="attack">Attack IV</label>
          <input type="text" id="attack" name="attack" value="{{ stats.attack }}">
          
          <label for="defense">Defense IV</label>
          <input type="text" id="defense" name="defense" value="{{ stats.defense }}">

          <label for="stamina">Stamina IV</label>
          <input type="text" id="stamina" name="stamina" value="{{ stats.stamina }}">
        </div>
        {% endfor %}
        {% else %}
        <div class="IVs">
          <label for="attack">Attack IV</label>
          <input type="text" id="attack" name="attack" >
          
          <label for="defense">Defense IV</label>
          <input type="text" id="defense" name="defense" >

          <label for="stamina">Stamina IV</label>
          <input type="text" id="stamina" name="stamina" >
        </div>
        {% endif %}

      </div>

      <button id="add">Add</button>
      <button type="submit">Analyze</button>


    </form>
  </div>
  <div>
    <h3>results</h3>
    {% if pokemon %}
      <h4>{{ pokemon }}</h4>
      {% for stats in stats_array %}
        <p>
          Attack: {{ stats.attack }}, Defense: {{ stats.defense }}, Stamina: {{ stats.stamina }}
        </p>
        <p>
          rank: {{ stats.rank }}
        </p>
        <p>
          stat product: {{ stats.stat_product }}
        </p>
        <p>% of Max: {{ stats.percent_of_max }}</p>
      {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}