{% extends 'base.html' %}
{% block content %}
  {% if pokemon %}
  <!-- redirect to results part of page -->
  <script>
    window.location.href = '#results-link';
  </script>
  {% endif %}
  <h2 id="welcome-link">welcome</h2>
  <a href="#results-link">Results</a>
  <p>
    <form action="{% url 'home' %}">
      <button type="submit" class="reset btn btn-warning">Reset</button>
    </form>
  </p>
    <form method="POST" action="{% url 'analyze' %}">
      {% csrf_token %}

      <div class="form-inline">
      <label for="pokemon" class="sr-only">Pokemon</label>
      <input type="text" list="auto-pokemon" id="pokemon" name="pokemon" autofocus required value="{{ pokemon }}" placeholder="Pokemon" class="form-control form-control-sm">
      <datalist id="auto-pokemon"></datalist>

      <label for="evo-pokemon" class="sr-only">Evolution</label>
      <input type="text" list="auto-evo-pokemon" id="evo-pokemon" name="evo-pokemon" required value="{{ evolution }}" placeholder="Evolution Pokemon" class="form-control form-control-sm">
      <datalist id="auto-evo-pokemon"></datalist>

      </div>
      
    
      <div class="IVInputsContainer ">
      {% if pokemon %}
        {% for result in results %}
          {% if not result.inputs.is_valid %}
          <div class="invalidCombo">
            <h5>Wrong CP & IV combination below</h5>
          </div>
          {% endif %}

        <div class="IVs form-inline">
          <button type="button" class="delete btn btn-danger" tabindex="-1" >-</button>
          <label for="cp" class="sr-only">CP</label>
          <input class="form-control form-control-sm w-20" type="number" id="cp" name="cp" value="{{ result.inputs.cp }}" placeholder="CP">
          
          <label for="attack" class="sr-only">Attack IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="attack" name="attack" value="{{ result.inputs.attack }}" placeholder="ATK">
          
          <label for="defense" class="sr-only">Defense IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="defense" name="defense" value="{{ result.inputs.defense }}" placeholder="DEF">

          <label for="stamina" class="sr-only">Stamina IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="stamina" name="stamina" value="{{ result.inputs.stamina }}" placeholder="STM">
        </div>
        {% endfor %}
      {% else %}
        <div class="IVs form-inline">
          <!-- delete button that's disabled for first row -->
          <button type="button" class="delete btn btn-danger" tabindex="-1" disabled>-</button>
          <label for="cp" class="sr-only">CP</label>
          <input class="form-control form-control-sm w-20" type="number" id="cp" name="cp" size="5" placeholder="CP">

          <label for="attack" class="sr-only">Attack IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="attack" name="attack" placeholder="ATK">
          
          <label for="defense" class="sr-only">Defense IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="defense" name="defense" placeholder="DEF">

          <label for="stamina" class="sr-only">Stamina IV</label>
          <input class="form-control form-control-sm w-15" type="number" id="stamina" name="stamina" placeholder="STM">
        </div>
      {% endif %}
      </div>

      <div class="league_choices">
        <div class="form-check form-check-inline">
        <input type="checkbox" name="GL" id="GL" value="true" class="form-check-input">
        <label for="GL" class="form-check-label">Great League</label>

        </div>
        <div class="form-check form-check-inline">
        <input type="checkbox" name="UL" id="UL" value="true" class="form-check-input">
        <label for="UL" class="form-check-label">Ultra League</label>

        </div>

        <div class="form-check form-check-inline">
        <input type="checkbox" name="ML" id="ML" value="true" class="form-check-input">
        <label for="ML" class="form-check-label">Master League</label>

        </div>

      </div>

      <button type="button" class="btn btn-info" id="add">Add</button>
      <button type="submit" class="btn btn-success analyze">Analyze</button>


    </form>
    <br/>
  <div id="results-link">
    <h3 >results</h3>
    {% if pokemon %}
      <h4>{{ pokemon }} -> {{ evolution }}</h4>
      {% for result in results %}
        <div class="row no-gutters">
          <div class="col col-2">CP: {{ result.inputs.cp }}</div>
          <div class="col col-2">A: {{ result.inputs.attack }}</div>
          <div class="col col-2">D: {{ result.inputs.defense }}</div>
          <div class="col col-2">S: {{ result.inputs.stamina}}</div>
          <div class="col col-4">Starting Level: {{ result.power_up.GL.starting_level }}</div>
        </div>
        {% if not result.inputs.is_valid %}
          <h6>Invalid CP & IV Combo</h4>
        {% else %}
        <table class="table table-sm table-hover table-dark">
          <thead>
            <tr>
              <th>League</th>
              <th>Rank</th>
              <th>Best CP</th>
              <th>Best Level</th>
              <th>Starting CP</th>
              <th>Power Ups</th>
              <th>Stardust</th>
              <th>Candy</th>
            </tr>
          </thead>
          <tbody>
          {% if analyze_GL %}
            {% if result.stats.GL.rank < 200 %}
            <tr class="goodRank">
              {% else %}
              <tr>
            {% endif %}
              <td>GL</td>
              <td>{{ result.stats.GL.rank }}</td>
              <td>{{ result.power_up.GL.cp_1500 }}</td>
              <td>{{ result.power_up.GL.level_1500 }}</td>
              <td>{{ result.power_up.GL.starting_cp }}</td>
              <td>{{ result.power_up.GL.power_up_count }}</td>
              <td>{{ result.power_up.GL.stardust_cost }}</td>
              <td>{{ result.power_up.GL.candy_cost }}</td>
            </tr>
          {% endif %}
          {% if analyze_UL %}
            {% if result.stats.UL.rank < 200 %}
            <tr class="goodRank">
              {% else %}
              <tr>
            {% endif %}
            <td>UL</div>
            <td>{{ result.stats.UL.rank }}</td>
            <td>{{ result.power_up.UL.cp_2500 }}</td>
            <td>{{ result.power_up.UL.level_2500 }}</td>
            <td>{{ result.power_up.GL.starting_cp }}</td>
            <td>{{ result.power_up.UL.power_up_count }}</td>
            <td>{{ result.power_up.UL.stardust_cost }}</td>
            <td>{{ result.power_up.UL.candy_cost }}</td>
          </tr>

          {% endif %}
          {% if analyze_ML %}
            {% if result.stats.ML.rank < 200 %}
            <tr class="goodRank">
              {% else %}
              <tr>
            {% endif %}
            <td>ML</div>
            <td>{{ result.stats.ML.rank }}</td>
            <td>{{ result.power_up.ML.cp_max }}</td>
            <td>{{ result.power_up.ML.level_max }}</td>
            <td>{{ result.power_up.GL.starting_cp }}</td>
            <td>{{ result.power_up.ML.power_up_count }}</td>
            <td>{{ result.power_up.ML.stardust_cost }}</td>
            <td>{{ result.power_up.ML.candy_cost }}</td>
          </tr>
          {% endif %}
          </tbody>
        </table>
        {% endif %}
        <br/>
      {% endfor %}
    {% endif %}
  </div>
  <a href="#welcome-link">Back to Top</a>

{% endblock %}