.invalid {
  background: pink;
}

.invalidCombo {
  background: pink;
}

.border {
  border: 1px solid black!important;
}

.delete {
  padding: 0px 4px;
  line-height: 1;
  font-weight: 600;
  margin: 4px;
}

input {
  margin: 4px;
}

.w-20 {
  width: 20%!important;
}

.w-15 {
  width: 15%!important;
}